

.header{
    width: 100%;
    position: relative;
    background-color:#fff;
    height: 160px;
    opacity: 1;
}
.header-content{
    position: relative;
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}
.header .logo{

    position: absolute;
    display: block;
    height: 85px;
    left: 0;
    top:50%;
    margin-top:-42px;
}
.header .logo>img{
    height: 85px;

 
}
.menu{
    position: absolute;
    right: 0px;
    top: 20px;
}
.menu>a{
    display: block;
    float: left;
    width: 40px;
    text-align: center;
    margin-left: 10px;
background-color: #fff;
font-size: 12px;
line-height: 12px;
padding:3px 5px;
color: #000;
border-radius: 4px;
border: 1px solid #000;

}
.menu>.select{
    background-color: #000;
    color: #fff;
}
/************ 导航***********************************/
.nav {
text-align: center;
font-size: 16px;
height:40px;
line-height: 40px;
font-weight: bold;
position: absolute;
color: #000;
right: 0;
top: 50%;
margin-top: -20px;
}
.nav>li {
display: inline-block;
position: relative;

padding: 0 30px;



}
li a:visited{
    color: #000;
}

.nav>li>span {
    cursor: pointer;
  }

.nav>li>.active{
    display:inline-block;
    color:#c30d23;
    border-bottom:3px solid red ;
}

.nav .nav-child {

 padding:10px;
 width: 100%;
    display: none;
    position:absolute;
    left: 0;
    background-color: #f0f0f0;
    z-index: 888;
    font-weight: normal;
}


.nav>.nav-child>li>a {
    padding-left: 4px;
    line-height: 36px;
    font-size: 13px;
}

.nav>li:hover ul {
    display: block;
} 
.nav-child>li>a:hover {
 
    color:#c30d23;
    font-weight: bold;
}


.nav li a {
display: block;
height: 40px;
text-align: center;
position: relative;

}


/************ 导航***********************************/

.banner{
    position: relative;
    height: 520px;
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-intro{
    background-color:rgba(255,255,255,0.6);
    color: #000;
    position:absolute;
    top:50%;
    left: 50%;
    padding:30px;
    margin-top: -180px;
    left: 300px;
    height: 360px;
    width: 300px;
}
.banner-intro .title{
    font-size: 54px;
    font-weight: bold;
}
.banner-intro .text{
    margin-top: 20px;
    line-height: 24px;
    text-align: justify;
}

.body{
   background-color: #f3f3f3;


}
.body-content{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 60px 0;

}


.footer{
height: 100px;
background-color: #000;
color: #fff;
}
.footer-content{
    text-align: center;
    line-height: 100px;
}

