.content-item{
    background-color: #fff;
    width: 1000px;
    min-height: 600px;
    text-align: left;
    padding: 60px;
    margin: 60px 0;
}

.content-item p{

    font-size: 18px;
    line-height: 1.6;
}

.content-item img{

 width: 100%;
}

.banner-intro{
    

    width: 400px;
}