.intro{
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
}
.article{
  
    padding:30px;
    border: 1px solid #f3f3f3;
    margin: 0 auto;
    background-color: #f3f3f3;
}
.article .title{
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: #f3f3f3;
}
.article .img-area>img{
    width: 40%;
}
.article .img-area>.name{
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    min-height: 32px;
    color: #aaa;
}
.article.contents>p{
    text-align: justify;
    line-height: 1.4;
}

body{
    background-color: #f3f3f3;
}

.content-item{
    background-color: #fff;
    width: 1000px;
    min-height: 620px;
    text-align: center;
    padding: 60px;
    margin: 60px 0;
}

.img_1>img{
    width: 99%;
}

.content-item-1{
    background-color: #fff;
    width: 1000px;
    height: 270px;
    text-align: center;
    padding: 60px;
    margin: 60px 0;
}

.text_1{
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}

.text_2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.text_3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

.text_4{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

#right>p{

    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    padding: 0 0 15px 30px;
}
.content-item .title{

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.content-item .info{text-align: justify; font-size: 16px;line-height: 1.4;
margin: 30px 0px;
}
.content-item img{width: 100%; border: 1px solid #eee; margin: 30px 0;}